/ShareMedia
/OpencvBasic
/Apply/VideoCutDef
/Apply/SecondCamera
/Apply/VideoAnalyse
/.idea
/audio/temp.pk
/audio/sound.png
/audio/temp.pcm
/Apply/NoRefAlgorithm/canny_vmomo101.png
/Apply/NoRefAlgorithm/1280x720_6.yuv
/Apply/NoRefAlgorithm/canny_cboy720.png
/Apply/NoRefAlgorithm/canny_cboy1080.png
/Apply/NoRefAlgorithm/canny_vgirl720.png
/Apply/NoRefAlgorithm/canny_vgirl1080.png
/Apply/NoRefAlgorithm/canny_vmomo.png
/Apply/NoRefAlgorithm/canny_vmomo010.png
/Apply/MovieVision/convert2.bat
/Apply/MovieVision/movie.mp4
/Apply/MovieVision/movie.wmv
